@model bug_tracker_web.Models.Bug

<div class="container">
    <!-- Display bug details -->
    <h2>Bug Details</h2>
    <p>Bug Name: @Model.BugName</p>
    <p>Bug Status: @Model.BugStatus</p>
    <!-- Add other bug details you want to display -->
    <!-- Display comments -->
    <h3>Comments</h3>
    @if (Model.Comments.Any())
    {
        <ul>
            @foreach (var comment in Model.Comments)
            {
                <li>
                    <p>@comment.CommentContent</p>
                    <p>Posted By: @comment.User.FirstName @comment.User.LastName</p>
                    <p>Posted At: @comment.CreatedAt</p>
                    <!-- Edit button -->
                    <a asp-controller="Bug" asp-action="EditComment" asp-route-id="@comment.Id">Edit</a>
                    <!-- Delete button -->
                    <a asp-controller="Bug" asp-action="DeleteComment" asp-route-id="@comment.Id">Delete</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No comments found for this bug.</p>
    }

    <!-- Add comment form -->
    <h3>Add Comment</h3>
    <a asp-controller="Bug" asp-action="AddComment" asp-route-bugId="@Model.BugId" class="btn btn-primary">Add Comment</a>
</div>








