@model bug_tracker_web.Models.Bug

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugSeverity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugSeverity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BugId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
