@model IEnumerable<bug_tracker_web.Models.Bug>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BugName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugSeverity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugCreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugUsers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugSeverity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugCreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectID)
            </td>
            <td>
                <ul>
                    @foreach (var bugUser in item.BugUsers)
                    {
                        <li>@bugUser.User.UserName</li>
                    }
                </ul>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BugId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BugId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
